body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 70px;
}

.orange-color {
    color: orange;
}

h2 {
    font-size: 40px;
    color: silver;
}

.welcome-color {
    color: lightblue;
}

.flexible-container {
    display: flex;
    margin-bottom: 125px;
    padding-top: 5%;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 2%;


}

.welcome {
    color: white;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
}

.link-button2 {
    text-decoration: none;
    background-image: linear-gradient(orange, black);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10%;
}

.color {
    color: aliceblue;

}

.rain {
    color: aqua;
}

.top-banner {
    background-image: url(images/pinik.png.webp);
    background-repeat: no-repeat;


}

.fire {
    color: white;
    background-color: slategrey;
}

.dream-big {
    background-image: url(images/circle.png.jpg);
}

p {
    text-align: justify;
}

.experience-area {
    background-image: url(images/blue-space.png.webp);

}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 50px;
}

.effect {
    color: snow;
}

.color {
    color: seashell;
}